In [21]:
from bs4 import BeautifulSoup
import requests
import json
import pandas as pd
import numpy as np
import codecs
from pathlib import Path
import unicodedata
import constti

# 1.Check if there are equal names in the column
def  check_equal(Table, col_name): #Check doubles in column col_name of the table Table
    repetitions = pd.DataFrame()
    for i in range(len(Table)):
        if Table[col_name][i] in set(Table[col_name][:i]):
            if (len(repetitions)>0):
                if not (Table[col_name][i] in set(repetitions[col_name])):
                    repetitions = repetitions.append(Table[Table[col_name]==Table[col_name][i]])
            else:
                repetitions = repetitions.append(Table[Table[col_name]==Table[col_name][i]])
            #print('Check Equal', Table.iloc[i])
    print(repetitions)

# 2. Check if name_un is the same player as (name_fpl, web_name_fpl). Five comparison types: the lower the better         
def same_player(name_un, name_fpl, web_name_fpl, type_comp, repeat=1):
    name_un = name_un.lower()
    name_fpl = name_fpl.lower()
    web_name_fpl = web_name_fpl.lower()
    same = 0
    if (type_comp == 0)&(name_un == name_fpl): # Unerstat name = Full FPL name. Best equality
        same = 1
    
    if (type_comp == 1)&(web_name_fpl == name_un): # Understat name = Short FPL name.
        same = 1
        
    if (type_comp == 2)&(name_un in name_fpl): # Understat name is included in Full FPL name.
        same = 1

    if (type_comp == 3)&(set(name_un.split()) <= set(name_fpl.split())): # All words of Understat name are in Full FPL name
        same = 1

    if (type_comp == 4)&(web_name_fpl in name_un): # FPL Short name is included in Understat name
        same = 1

    if type_comp == 5: # Some ' ' space has been missed and after del of one space all words of Understat name are in Full FPL
        fpl_name = name_fpl.lower().split()
        for m in range(1,len(fpl_name)):
            if set(name_un.lower().split()) <=\
            set([fpl_name[k-1]+fpl_name[k] if k==m else ('' if k==m-1 else fpl_name[k])\
                 for k in range(0,len(fpl_name))]):
                    same = 1
    if (same == 0)&(repeat==1): # If '-' in Understat is ' ' in FPL
        return same_player(name_un.replace('-', ' '), name_fpl, web_name_fpl, type_comp, 0)
    return same

# 3. Adds match number game_number to Table and updates Dictionary of names
def add_match_to_dict(game_number, Dictionary):    
    
    url = 'https://understat.com/match/'+ str(game_number)
    #print(url)
    p = constti.long_request(url)
    pdecoded = codecs.decode(p.text,'unicode_escape')
    page = BeautifulSoup(p.text, 'html.parser')
    tempList = []
    for tags in page('script'):
        if '= JSON.parse' in str(tags):
            for els in str(tags).split():
                if 'JSON' in els:
                    els = els[12:-3]
                    els = codecs.decode(els,'unicode_escape')
                    tempList.append(json.loads(els))
    
    away_players = pd.DataFrame(tempList[2]['a']).transpose()
    home_players = pd.DataFrame(tempList[2]['h']).transpose()
    match_players = away_players.append(home_players)
    
    match_players['team_h_name'] = [teams_dict[tempList[1]['team_h']] for i in range(len(match_players))]
    match_players['team_a_name'] = [teams_dict[tempList[1]['team_a']] for i in range(len(match_players))]
    match_players['team_name'] = [match_players.at[i,'team_a_name'] if match_players.at[i,'h_a'] == 'a' \
                                           else match_players.at[i,'team_h_name'] for i in match_players.index]
    match_players['opponent_team_name'] = [match_players.at[i,'team_h_name'] if match_players.at[i,'h_a'] == 'a' \
                                           else match_players.at[i,'team_a_name'] for i in match_players.index]
    match_players['team_h'] = [dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'team_h_name']] \
                               for i in match_players.index]
    match_players['team_a'] = [dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'team_a_name']] \
                               for i in match_players.index]
    match_players['team'] = [dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'team_name']] \
                           for i in match_players.index]
    match_players['opponent_team']=[dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'opponent_team_name']]\
                       for i in match_players.index]
    match_players['fixture'] = [Fixtures[(Fixtures['team_a']==match_players['team_a'].mean())&\
                                     (Fixtures['team_h']==match_players['team_h'].mean())]['id'].sum() \
                                    for _ in match_players.index]
    match_players['round'] = [int(Fixtures[Fixtures['id']==match_players['fixture'].mean()]['event'].sum()) \
                              for _ in match_players.index]
    match_players['player'] = constti.strip_accents_pdlist(pd.DataFrame(match_players['player']))
    
    
    FPL_names = constti.strip_accents_pdlist(pd.DataFrame([dict(zip(Players['id'], Players['Name']))\
                  [Table_FPL[Table_FPL['fixture']==match_players['fixture'].mean()].at[i,'element']] \
                   for i in Table_FPL[Table_FPL['fixture']==match_players['fixture'].mean()].index], columns = ['player']))
    FPL_names['web_name'] = constti.strip_accents_pdlist(pd.DataFrame([dict(zip(Players['id'], Players['web_name']))\
                  [Table_FPL[Table_FPL['fixture']==match_players['fixture'].mean()].at[i,'element']] \
                   for i in Table_FPL[Table_FPL['fixture']==match_players['fixture'].mean()].index]))

    FPL_names['id'] = [Table_FPL[Table_FPL['fixture']==match_players['fixture'].mean()].at[i,'element'] \
                   for i in Table_FPL[Table_FPL['fixture']==match_players['fixture'].mean()].index]
    
    
    match_players['in_FPL'] = [0 for i in match_players.index]
    Dictionary_strong = Dictionary[Dictionary['id_fpl']!='']

    for i in match_players.index:
        match_players.at[i,'player'] = match_players.at[i,'player'].replace("&#039;", "'")#Ð§Ñ‚Ð¾Ð±Ñ‹ Ð¿Ñ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ð¾ Ð¾Ñ‚Ð¾Ð±Ñ€Ð°Ð¶Ð°Ñ‚ÑŒ Ð°Ð¿Ð¾ÑÑ‚Ñ€Ð¾Ñ„
        if not(match_players.at[i,'player'] in set(Dictionary_strong['name_un'])):
            
            for t in range(6):
                for j in FPL_names.index:
                    if same_player(match_players.at[i,'player'], FPL_names.at[j,'player'], FPL_names.at[j,'web_name'], t):
                        match_players.at[i,'in_FPL'] = 1
                        name_un = match_players.at[i, 'player']
                        name_fpl = FPL_names.at[j,'player']
                        id_fpl = FPL_names.at[j,'id']
                        web_name_fpl = FPL_names.at[j,'web_name']
                        match_players.at[i, 'player'] = FPL_names.at[j,'player']
                        break
                if match_players.at[i,'in_FPL'] == 1:
                    break
            if match_players.at[i,'in_FPL'] == 0:
                name_un = match_players.at[i, 'player']
                name_fpl = ''
                id_fpl = ''
                web_name_fpl = ''
                
                
                
            if name_un in set(Dictionary['name_un']):
                print('SMTH went wrong')
                if name_fpl != '':
                    for u in Dictionary.index:
                        if name_un == Dictionary.at[u,'name_un']:
                            Dictionary.at[u,'name_fpl'] = name_fpl
                            Dictionary.at[u,'id_fpl'] = id_fpl
                            Dictionary.at[u,'web_name_fpl'] = web_name_fpl  
            else:

                Dictionary = Dictionary.append(pd.DataFrame(\
                    [[name_un, match_players.at[i, 'player_id'], name_fpl, id_fpl, web_name_fpl]],\
                    columns=["name_un", "id_un", 'name_fpl', 'id_fpl', 'web_name_fpl']), ignore_index=True)
        else:
            match_players.at[i, 'player'] = dict(zip(Dictionary['name_un'], Dictionary['name_fpl']))\
                [match_players.at[i, 'player']]
            match_players.at[i,'in_FPL'] = 1

    #print(FPL_names)                    
    return match_players, Dictionary

Table_FPL = pd.read_csv('in/Table_FPL.csv')
Fixtures = pd.read_csv('in/Fixtures.csv')
Teams = pd.read_csv('in/Teams.csv')
Players = pd.read_csv('in/Players.csv')

url = 'https://understat.com/match/11919'
url1 = 'https://understat.com/league/EPL'

p = constti.long_request(url1)
pdecoded = codecs.decode(p.text,'unicode_escape')
page = BeautifulSoup(p.text, 'html.parser')
a = []
for tags in page('script'):
    if '= JSON.parse' in str(tags):
        for els in str(tags).split():
            if 'JSON' in els:
                els = els[12:-3]
                els = codecs.decode(els,'unicode_escape')
                a.append(json.loads(els))
TT = pd.DataFrame(a[1]).transpose()
UnderstatTeams = dict(zip(TT['id'], TT['title']))
Schedule = pd.DataFrame(a[0])

#Ð¡Ð»Ð¾Ð²Ð°Ñ€ÑŒ Ð´Ð»Ñ Ð¿ÐµÑ€ÐµÐ²Ð¾Ð´Ð° understat ÐºÐ¾Ð¼Ð°Ð½Ð´ Ðº FPL Ð¸Ð¼ÐµÐ½Ð°Ð¼
teams_dtable = pd.DataFrame()
teams_dtable['understat'] = TT.sort_values(by=['title'])['title']
teams_dtable.index = np.arange(0, len(teams_dtable))
teams_dtable['fpl'] = Teams.sort_values(by=['Teams'])['Teams']
teams_dict = dict(zip(teams_dtable['understat'], teams_dtable['fpl']))


Table_Understat = pd.DataFrame()
Name_Dictionary = pd.DataFrame(columns=["name_un", "id_un", 'name_fpl', 'id_fpl', 'web_name_fpl'])
for i in range(len(Schedule)):
    if Schedule.at[i,'isResult']:
        MP, Name_Dictionary = add_match_to_dict(Schedule.at[i,'id'], Name_Dictionary)
        Table_Understat = Table_Understat.append(MP, ignore_index=True)

# Add fpl_id and name_fpl for players not in FPL
j=0
for i in Name_Dictionary.index:
    j+=1
    if Name_Dictionary.at[i,'name_fpl']=='':
        Name_Dictionary.at[i,'name_fpl'] = Name_Dictionary.at[i,'name_un']
        Name_Dictionary.at[i,'id_fpl'] = 1000000 + j
        
Table_Understat['element'] = [dict(zip(Name_Dictionary['name_fpl'], Name_Dictionary['id_fpl']))\
                              [Table_Understat.at[i, 'player']] for i in Table_Understat.index]
Table_Understat = constti.change_column_name(Table_Understat, 'xG', 'threat')
Table_Understat['threat']  = [100*float(Table_Understat['threat'][i]) for i in range(len(Table_Understat))]
Table_Understat = constti.change_column_name(Table_Understat, 'xA', 'creativity')
Table_Understat['creativity']  = [100*float(Table_Understat['creativity'][i]) for i in range(len(Table_Understat))]
Table_Understat = constti.change_column_name(Table_Understat, 'player_id', 'Understat_id')

Table_Understat.to_csv(Path('in/Table_Understat.csv'), index=False)
Name_Dictionary.to_csv(Path('in/Name_Dictionary.csv'), index=False)
Table_Understat

,assists,goals,h_a,id,key_passes,own_goals,player,Understat_id,position,positionOrder,...,team_name,opponent_team_name,team_h,team_a,team,opponent_team,fixture,round,in_FPL,element
0,0,0,a,341166,0,0,Tim Krul,982,GK,1,...,Norwich,Liverpool,10,14,14,10,1,1,1,280
1,0,0,a,341167,0,0,Maximillian Aarons,7688,DR,2,...,Norwich,Liverpool,10,14,14,10,1,1,1,274
2,0,0,a,341169,0,1,Grant Hanley,7690,DC,3,...,Norwich,Liverpool,10,14,14,10,1,1,1,277
3,0,0,a,341168,0,0,Ben Godfrey,7689,DC,3,...,Norwich,Liverpool,10,14,14,10,1,1,1,273
4,0,0,a,341170,2,0,Jamal Lewis,7691,DL,4,...,Norwich,Liverpool,10,14,14,10,1,1,1,276
5,0,0,a,341172,0,0,Kenny McLean,7693,DMC,7,...,Norwich,Liverpool,10,14,14,10,1,1,1,286
6,0,0,a,341171,0,0,Tom Trybull,7692,DMC,7,...,Norwich,Liverpool,10,14,14,10,1,1,1,290
7,1,0,a,341173,3,0,Emiliano Buendia,2203,AMR,11,...,Norwich,Liverpool,10,14,14,10,1,1,1,283
8,0,0,a,341174,0,0,Marco Stiepermann,7694,AMC,12,...,Norwich,Liverpool,10,14,14,10,1,1,1,285
9,0,0,a,341175,3,0,Todd Cantwell,7695,AML,13,...,Norwich,Liverpool,10,14,14,10,1,1,1,287
10,0,1,a,341176,2,0,Teemu Pukki,7696,FW,15,...,Norwich,Liverpool,10,14,14,10,1,1,1,278
11,0,0,a,341178,0,0,Onel Hernandez,7697,Sub,17,...,Norwich,Liverpool,10,14,14,10,1,1,1,284
12,0,0,a,341179,0,0,Josip Drmic,209,Sub,17,...,Norwich,Liverpool,10,14,14,10,1,1,1,434
13,0,0,a,341177,0,0,Moritz Leitner,1217,Sub,17,...,Norwich,Liverpool,10,14,14,10,1,1,1,288
14,0,0,h,341152,0,0,Alisson Ramses Becker,1257,GK,1,...,Liverpool,Norwich,10,14,10,14,1,1,1,189
15,1,0,h,341153,3,0,Trent Alexander-Arnold,1791,DR,2,...,Liverpool,Norwich,10,14,10,14,1,1,1,182
16,0,0,h,341155,1,0,Joseph Gomez,987,DC,3,...,Liverpool,Norwich,10,14,10,14,1,1,1,184
17,0,1,h,341154,0,0,Virgil van Dijk,833,DC,3,...,Liverpool,Norwich,10,14,10,14,1,1,1,183
18,0,0,h,341156,1,0,Andrew Robertson,1688,DL,4,...,Liverpool,Norwich,10,14,10,14,1,1,1,181
19,0,0,h,341158,0,0,Georginio Wijnaldum,771,MC,9,...,Liverpool,Norwich,10,14,10,14,1,1,1,199
20,0,0,h,341159,0,0,Jordan Henderson,605,MC,9,...,Liverpool,Norwich,10,14,10,14,1,1,1,198
21,0,0,h,341157,1,0,Fabio Henrique Tavares,3420,MC,9,...,Liverpool,Norwich,10,14,10,14,1,1,1,197
22,1,1,h,341160,3,0,Mohamed Salah,1250,FWR,14,...,Liverpool,Norwich,10,14,10,14,1,1,1,191
23,1,0,h,341161,1,0,Roberto Firmino,482,FW,15,...,Liverpool,Norwich,10,14,10,14,1,1,1,187
24,0,1,h,341162,2,0,Divock Origi,484,FWL,16,...,Liverpool,Norwich,10,14,10,14,1,1,1,188
25,0,0,h,341164,0,0,Adrian San Miguel del Castillo,527,Sub,17,...,Liverpool,Norwich,10,14,10,14,1,1,1,526
26,0,0,h,341165,0,0,James Milner,489,Sub,17,...,Liverpool,Norwich,10,14,10,14,1,1,1,200
27,0,0,h,341163,0,0,Sadio Mane,838,Sub,17,...,Liverpool,Norwich,10,14,10,14,1,1,1,192
28,0,0,a,341194,0,0,Ederson Santana de Moraes,6054,GK,1,...,Man City,West Ham,19,11,11,19,8,1,1,212
29,1,0,a,341195,2,0,Kyle Walker,638,DR,2,...,Man City,West Ham,19,11,11,19,8,1,1,203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7869,0,0,h,387848,0,0,Eric Bailly,1739,Sub,17,...,Man Utd,Man City,12,11,12,11,287,29,1,228
7870,0,0,h,387846,0,0,Odion Ighalo,573,Sub,17,...,Man Utd,Man City,12,11,12,11,287,29,1,624
7871,0,1,h,387847,0,0,Scott McTominay,5560,Sub,17,...,Man Utd,Man City,12,11,12,11,287,29,1,248
7872,0,0,a,387877,0,0,Jose Reina,1374,GK,1,...,Aston Villa,Leicester,9,2,2,9,285,29,1,603
7873,0,0,a,387878,0,0,Frederic Guilbert,3253,DR,2,...,Aston Villa,Leicester,9,2,2,9,285,29,1,458
7874,0,0,a,387880,0,0,Tyrone Mings,1024,DC,3,...,Aston Villa,Leicester,9,2,2,9,285,29,1,445
7875,0,0,a,387879,0,0,Bjorn Engels,7152,DC,3,...,Aston Villa,Leicester,9,2,2,9,285,29,1,455
7876,0,0,a,387881,1,0,Matt Targett,884,DL,4,...,Aston Villa,Leicester,9,2,2,9,285,29,1,309
7877,0,0,a,387882,0,0,Marvelous Nakamba,8040,DMC,7,...,Aston Villa,Leicester,9,2,2,9,285,29,1,491
7878,0,0,a,387883,0,0,Ahmed El Mohamady,1685,MR,8,...,Aston Villa,Leicester,9,2,2,9,285,29,1,22
7879,0,0,a,387884,0,0,Douglas Luiz Soares de Paulo,6122,MC,9,...,Aston Villa,Leicester,9,2,2,9,285,29,1,470
7880,0,0,a,387885,1,0,Conor Hourihane,7721,MC,9,...,Aston Villa,Leicester,9,2,2,9,285,29,1,28
7881,0,0,a,387886,0,0,Jack Grealish,675,ML,10,...,Aston Villa,Leicester,9,2,2,9,285,29,1,29
7882,0,0,a,387887,0,0,Mbwana Samatta,8287,FW,15,...,Aston Villa,Leicester,9,2,2,9,285,29,1,613
7883,0,0,a,387889,1,0,Keinan Davis,1053,Sub,17,...,Aston Villa,Leicester,9,2,2,9,285,29,1,34
7884,0,0,a,387888,0,0,Anwar El Ghazi,5612,Sub,17,...,Aston Villa,Leicester,9,2,2,9,285,29,1,30
7885,0,0,h,387863,0,0,Kasper Schmeichel,745,GK,1,...,Leicester,Aston Villa,9,2,9,2,285,29,1,168
7886,0,0,h,387864,2,0,Ricardo Domingos Barbosa Pereira,3303,DR,2,...,Leicester,Aston Villa,9,2,9,2,285,29,1,159
7887,0,0,h,387865,0,0,Caglar Soyuncu,5264,DC,3,...,Leicester,Aston Villa,9,2,9,2,285,29,1,164
7888,0,0,h,387866,1,0,Jonny Evans,807,DC,3,...,Leicester,Aston Villa,9,2,9,2,285,29,1,162
7889,0,0,h,387867,1,0,James Justin,7753,DL,4,...,Leicester,Aston Villa,9,2,9,2,285,29,1,433
7890,0,0,h,387868,0,0,Wilfred Ndidi,5545,DMC,7,...,Leicester,Aston Villa,9,2,9,2,285,29,1,176
7891,2,0,h,387869,2,0,Marc Albrighton,753,MR,8,...,Leicester,Aston Villa,9,2,9,2,285,29,1,174
7892,0,0,h,387871,3,0,James Maddison,6818,MC,9,...,Leicester,Aston Villa,9,2,9,2,285,29,1,171
7893,0,0,h,387870,1,0,Dennis Praet,1234,MC,9,...,Leicester,Aston Villa,9,2,9,2,285,29,1,517
7894,0,2,h,387872,1,0,Harvey Barnes,6681,ML,10,...,Leicester,Aston Villa,9,2,9,2,285,29,1,172
7895,0,0,h,387873,0,0,Kelechi Iheanacho,620,FW,15,...,Leicester,Aston Villa,9,2,9,2,285,29,1,167
7896,0,0,h,387874,2,0,Youri Tielemans,5956,Sub,17,...,Leicester,Aston Villa,9,2,9,2,285,29,1,448
7897,0,0,h,387875,0,0,Nampalys Mendy,1785,Sub,17,...,Leicester,Aston Villa,9,2,9,2,285,29,1,179
7898,0,2,h,387876,0,0,Jamie Vardy,755,Sub,17,...,Leicester,Aston Villa,9,2,9,2,285,29,1,166