In [1]:
from bs4 import BeautifulSoup
import requests
import json
import pandas as pd
import numpy as np
import codecs
from pathlib import Path
import unicodedata

def strip_accents(s):
   return ''.join(c for c in unicodedata.normalize('NFD', s)
                  if unicodedata.category(c) != 'Mn')

def strip_accents_pdlist(a):
    b = a.copy()
    for i in range(len(a)):
        b.iat[i,0] = strip_accents(a.iat[i,0])
    return b

url = 'https://understat.com/match/11919'
url1 = 'https://understat.com/league/EPL'

p = requests.get(url1)
pdecoded = codecs.decode(p.text,'unicode_escape')
page = BeautifulSoup(p.text, 'html.parser')
a = []
for tags in page('script'):
    if '= JSON.parse' in str(tags):
        for els in str(tags).split():
            if 'JSON' in els:
                els = els[12:-3]
                els = codecs.decode(els,'unicode_escape')
                a.append(json.loads(els))
TT = pd.DataFrame(a[1]).transpose()
UnderstatTeams = dict(zip(TT['id'], TT['title']))
Schedule = pd.DataFrame(a[0])




Table_FPL = pd.read_csv('in/Table.csv')
Fixtures = pd.read_csv('in/Fixtures.csv')
Teams = pd.read_csv('in/Teams.csv')
Players = pd.read_csv('in/Players.csv')



Table_Understat = pd.DataFrame()

for i in range(len(Schedule)):
    if Schedule.at[i,'isResult']:
        url = 'https://understat.com/match/'+ Schedule.at[i,'id']
        #print(url)
        p = requests.get(url)
        pdecoded = codecs.decode(p.text,'unicode_escape')
        page = BeautifulSoup(p.text, 'html.parser')
        tempList = []
        for tags in page('script'):
            if '= JSON.parse' in str(tags):
                for els in str(tags).split():
                    if 'JSON' in els:
                        els = els[12:-3]
                        els = codecs.decode(els,'unicode_escape')
                        tempList.append(json.loads(els))


        #Словарь для перевода understat команд к FPL именам
        teams_dtable = pd.DataFrame()
        teams_dtable['understat'] = TT.sort_values(by=['title'])['title']
        teams_dtable.index = np.arange(0, len(teams_dtable))
        teams_dtable['fpl'] = Teams.sort_values(by=['Teams'])['Teams']
        teams_dict = dict(zip(teams_dtable['understat'], teams_dtable['fpl']))


        away_players = pd.DataFrame(tempList[2]['a']).transpose()
        home_players = pd.DataFrame(tempList[2]['h']).transpose()

        match_players = away_players.append(home_players)
        match_players['team_h_name'] = [teams_dict[tempList[1]['team_h']] for i in range(len(match_players))]
        match_players['team_a_name'] = [teams_dict[tempList[1]['team_a']] for i in range(len(match_players))]
        match_players['team_name'] = [match_players.at[i,'team_a_name'] if match_players.at[i,'h_a'] == 'a' \
                                               else match_players.at[i,'team_h_name'] for i in match_players.index]
        match_players['opponent_team_name'] = [match_players.at[i,'team_h_name'] if match_players.at[i,'h_a'] == 'a' \
                                               else match_players.at[i,'team_a_name'] for i in match_players.index]
        match_players['team_h'] = [dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'team_h_name']] \
                                   for i in match_players.index]
        match_players['team_a'] = [dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'team_a_name']] \
                                   for i in match_players.index]
        match_players['team_name'] = [dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'team_name']] \
                               for i in match_players.index]
        match_players['opponent_team_name']=[dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'opponent_team_name']]\
                           for i in match_players.index]
        match_players['fixture'] = [Fixtures[(Fixtures['team_a']==match_players['team_a'].mean())&\
                                         (Fixtures['team_h']==match_players['team_h'].mean())]['id'].sum() \
                                        for _ in match_players.index]
        match_players['round'] = [int(Fixtures[Fixtures['id']==match_players['fixture'].mean()]['event'].sum()) \
                                  for _ in match_players.index]
        Table_Understat = Table_Understat.append(match_players, ignore_index=True)

Table_Understat.to_csv(Path('in/Table_Understat.csv'))
Table_Understat

,assists,goals,h_a,id,key_passes,own_goals,player,player_id,position,positionOrder,...,xGChain,yellow_card,team_h_name,team_a_name,team_name,opponent_team_name,team_h,team_a,fixture,round
0,0,0,a,341166,0,0,Tim Krul,982,GK,1,...,0.054997265338897705,0,Liverpool,Norwich,14,10,10,14,1,1
1,0,0,a,341167,0,0,Max Aarons,7688,DR,2,...,0.4084494411945343,0,Liverpool,Norwich,14,10,10,14,1,1
2,0,0,a,341168,0,0,Ben Godfrey,7689,DC,3,...,0.06399573385715485,0,Liverpool,Norwich,14,10,10,14,1,1
3,0,0,a,341169,0,1,Grant Hanley,7690,DC,3,...,0,0,Liverpool,Norwich,14,10,10,14,1,1
4,0,0,a,341170,2,0,Jamal Lewis,7691,DL,4,...,0.2609913647174835,0,Liverpool,Norwich,14,10,10,14,1,1
5,0,0,a,341171,0,0,Tom Trybull,7692,DMC,7,...,0.09957214444875717,0,Liverpool,Norwich,14,10,10,14,1,1
6,0,0,a,341172,0,0,Kenny McLean,7693,DMC,7,...,0.3670538365840912,0,Liverpool,Norwich,14,10,10,14,1,1
7,1,0,a,341173,3,0,Emiliano Buendía,2203,AMR,11,...,0.46228986978530884,1,Liverpool,Norwich,14,10,10,14,1,1
8,0,0,a,341174,0,0,Marco Stiepermann,7694,AMC,12,...,0.1699429154396057,0,Liverpool,Norwich,14,10,10,14,1,1
9,0,0,a,341175,3,0,Todd Cantwell,7695,AML,13,...,0.24345757067203522,0,Liverpool,Norwich,14,10,10,14,1,1
10,0,1,a,341176,2,0,Teemu Pukki,7696,FW,15,...,0.5794229507446289,0,Liverpool,Norwich,14,10,10,14,1,1
11,0,0,a,341179,0,0,Josip Drmic,209,Sub,17,...,0,0,Liverpool,Norwich,14,10,10,14,1,1
12,0,0,a,341177,0,0,Moritz Leitner,1217,Sub,17,...,0.0486493855714798,1,Liverpool,Norwich,14,10,10,14,1,1
13,0,0,a,341178,0,0,Onel Hernández,7697,Sub,17,...,0.058238666504621506,0,Liverpool,Norwich,14,10,10,14,1,1
14,0,0,h,341152,0,0,Alisson,1257,GK,1,...,0,0,Liverpool,Norwich,10,14,10,14,1,1
15,1,0,h,341153,3,0,Trent Alexander-Arnold,1791,DR,2,...,1.2044261693954468,0,Liverpool,Norwich,10,14,10,14,1,1
16,0,1,h,341154,0,0,Virgil van Dijk,833,DC,3,...,0.1266910284757614,0,Liverpool,Norwich,10,14,10,14,1,1
17,0,0,h,341155,1,0,Joseph Gomez,987,DC,3,...,0.02203359641134739,0,Liverpool,Norwich,10,14,10,14,1,1
18,0,0,h,341156,1,0,Andrew Robertson,1688,DL,4,...,0.3214750587940216,0,Liverpool,Norwich,10,14,10,14,1,1
19,0,0,h,341159,0,0,Jordan Henderson,605,MC,9,...,0.5857414603233337,0,Liverpool,Norwich,10,14,10,14,1,1
20,0,0,h,341157,1,0,Fabinho,3420,MC,9,...,0.6784601211547852,0,Liverpool,Norwich,10,14,10,14,1,1
21,0,0,h,341158,0,0,Georginio Wijnaldum,771,MC,9,...,0.38494330644607544,0,Liverpool,Norwich,10,14,10,14,1,1
22,1,1,h,341160,3,0,Mohamed Salah,1250,FWR,14,...,1.5892646312713623,0,Liverpool,Norwich,10,14,10,14,1,1
23,1,0,h,341161,1,0,Roberto Firmino,482,FW,15,...,1.305271029472351,0,Liverpool,Norwich,10,14,10,14,1,1
24,0,1,h,341162,2,0,Divock Origi,484,FWL,16,...,0.544244110584259,0,Liverpool,Norwich,10,14,10,14,1,1
25,0,0,h,341164,0,0,Adrián,527,Sub,17,...,0,0,Liverpool,Norwich,10,14,10,14,1,1
26,0,0,h,341165,0,0,James Milner,489,Sub,17,...,0,0,Liverpool,Norwich,10,14,10,14,1,1
27,0,0,h,341163,0,0,Sadio Mané,838,Sub,17,...,0,0,Liverpool,Norwich,10,14,10,14,1,1
28,0,0,a,341194,0,0,Ederson,6054,GK,1,...,0,0,West Ham,Man City,11,19,19,11,8,1
29,1,0,a,341195,2,0,Kyle Walker,638,DR,2,...,0.2250719517469406,1,West Ham,Man City,11,19,19,11,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7869,0,0,h,387848,0,0,Eric Bailly,1739,Sub,17,...,0,0,Man Utd,Man City,12,11,12,11,287,29
7870,0,0,h,387846,0,0,Odion Ighalo,573,Sub,17,...,0,0,Man Utd,Man City,12,11,12,11,287,29
7871,0,1,h,387847,0,0,Scott McTominay,5560,Sub,17,...,0.15324819087982178,0,Man Utd,Man City,12,11,12,11,287,29
7872,0,0,a,387877,0,0,José Reina,1374,GK,1,...,0,0,Leicester,Aston Villa,2,9,9,2,285,29
7873,0,0,a,387878,0,0,Frederic Guilbert,3253,DR,2,...,0.05914837494492531,0,Leicester,Aston Villa,2,9,9,2,285,29
7874,0,0,a,387879,0,0,Björn Engels,7152,DC,3,...,0,0,Leicester,Aston Villa,2,9,9,2,285,29
7875,0,0,a,387880,0,0,Tyrone Mings,1024,DC,3,...,0,0,Leicester,Aston Villa,2,9,9,2,285,29
7876,0,0,a,387881,1,0,Matt Targett,884,DL,4,...,0.12732477486133575,0,Leicester,Aston Villa,2,9,9,2,285,29
7877,0,0,a,387882,0,0,Marvelous Nakamba,8040,DMC,7,...,0.12732477486133575,0,Leicester,Aston Villa,2,9,9,2,285,29
7878,0,0,a,387883,0,0,Ahmed Elmohamady,1685,MR,8,...,0,0,Leicester,Aston Villa,2,9,9,2,285,29
7879,0,0,a,387885,1,0,Conor Hourihane,7721,MC,9,...,0.1432853490114212,1,Leicester,Aston Villa,2,9,9,2,285,29
7880,0,0,a,387884,0,0,Douglas Luiz,6122,MC,9,...,0.18647314608097076,0,Leicester,Aston Villa,2,9,9,2,285,29
7881,0,0,a,387886,0,0,Jack Grealish,675,ML,10,...,0.18647314608097076,0,Leicester,Aston Villa,2,9,9,2,285,29
7882,0,0,a,387887,0,0,Mbwana Samatta,8287,FW,15,...,0,0,Leicester,Aston Villa,2,9,9,2,285,29
7883,0,0,a,387888,0,0,Anwar El Ghazi,5612,Sub,17,...,0,0,Leicester,Aston Villa,2,9,9,2,285,29
7884,0,0,a,387889,1,0,Keinan Davis,1053,Sub,17,...,0.05914837494492531,0,Leicester,Aston Villa,2,9,9,2,285,29
7885,0,0,h,387863,0,0,Kasper Schmeichel,745,GK,1,...,0.02136494405567646,0,Leicester,Aston Villa,9,2,9,2,285,29
7886,0,0,h,387864,2,0,Ricardo Pereira,3303,DR,2,...,0.27518269419670105,0,Leicester,Aston Villa,9,2,9,2,285,29
7887,0,0,h,387865,0,0,Caglar Söyüncü,5264,DC,3,...,0.02136494405567646,0,Leicester,Aston Villa,9,2,9,2,285,29
7888,0,0,h,387866,1,0,Jonny Evans,807,DC,3,...,0.02136494405567646,1,Leicester,Aston Villa,9,2,9,2,285,29
7889,0,0,h,387867,1,0,James Justin,7753,DL,4,...,0.25305789709091187,0,Leicester,Aston Villa,9,2,9,2,285,29
7890,0,0,h,387868,0,0,Wilfred Ndidi,5545,DMC,7,...,0.09580103307962418,0,Leicester,Aston Villa,9,2,9,2,285,29
7891,2,0,h,387869,2,0,Marc Albrighton,753,MR,8,...,0.6842379570007324,0,Leicester,Aston Villa,9,2,9,2,285,29
7892,0,0,h,387870,1,0,Dennis Praet,1234,MC,9,...,0.4736478328704834,1,Leicester,Aston Villa,9,2,9,2,285,29
7893,0,0,h,387871,3,0,James Maddison,6818,MC,9,...,0.2822100520133972,0,Leicester,Aston Villa,9,2,9,2,285,29
7894,0,2,h,387872,1,0,Harvey Barnes,6681,ML,10,...,0.8297962546348572,0,Leicester,Aston Villa,9,2,9,2,285,29
7895,0,0,h,387873,0,0,Kelechi Iheanacho,620,FW,15,...,0.5701455473899841,0,Leicester,Aston Villa,9,2,9,2,285,29
7896,0,2,h,387876,0,0,Jamie Vardy,755,Sub,17,...,0.07740849256515503,0,Leicester,Aston Villa,9,2,9,2,285,29
7897,0,0,h,387874,2,0,Youri Tielemans,5956,Sub,17,...,0.3561484217643738,0,Leicester,Aston Villa,9,2,9,2,285,29
7898,0,0,h,387875,0,0,Nampalys Mendy,1785,Sub,17,...,0.15354447066783905,0,Leicester,Aston Villa,9,2,9,2,285,29

In [2]:
#Table = Table.append(pd.DataFrame(tempList[2]['a']).transpose(), ignore_index=True)

#Table = Table.append(pd.DataFrame(tempList[2]['h']).transpose(), ignore_index=True)

away_players = pd.DataFrame(tempList[2]['a']).transpose()
home_players = pd.DataFrame(tempList[2]['h']).transpose()

match_players = away_players.append(home_players)
match_players['team_h_name'] = [teams_dict[tempList[1]['team_h']] for i in range(len(match_players))]
match_players['team_a_name'] = [teams_dict[tempList[1]['team_a']] for i in range(len(match_players))]
match_players['team_name'] = [match_players.at[i,'team_a_name'] if match_players.at[i,'h_a'] == 'a' \
                                       else match_players.at[i,'team_h_name'] for i in match_players.index]
match_players['opponent_team_name'] = [match_players.at[i,'team_h_name'] if match_players.at[i,'h_a'] == 'a' \
                                       else match_players.at[i,'team_a_name'] for i in match_players.index]
match_players['team_h'] = [dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'team_h_name']] \
                           for i in match_players.index]
match_players['team_a'] = [dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'team_a_name']] \
                           for i in match_players.index]
match_players['team_name'] = [dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'team_name']] \
                       for i in match_players.index]
match_players['opponent_team_name'] = [dict(zip(Teams['Teams'], Teams['id']))[match_players.at[i,'opponent_team_name']] \
                   for i in match_players.index]
match_players['fixture'] = [Fixtures[(Fixtures['team_a']==match_players['team_a'].mean())&\
                                     (Fixtures['team_h']==match_players['team_h'].mean())]['id'].sum() \
                                    for _ in match_players.index]
match_players['round'] = [int(Fixtures[Fixtures['id']==match_players['fixture'].mean()]['event'].sum()) \
                          for _ in match_players.index]
AA = strip_accents_pdlist(pd.DataFrame(match_players['player']))
BB = strip_accents_pdlist(pd.DataFrame([dict(zip(Players['id'], Players['Name']))\
                  [Table_FPL[Table_FPL['fixture']==match_players['fixture'].mean()].at[i,'element']] \
                   for i in Table_FPL[Table_FPL['fixture']==match_players['fixture'].mean()].index]))
BB

                                   0
0                  Ahmed El Mohamady
1                      James Chester
2                        Neil Taylor
3                      Kortney Hause
4                    Jonathan Kodjia
5                       Ørjan Nyland
6                    Conor Hourihane
7                      Jack Grealish
8                     Anwar El Ghazi
9                        John McGinn
10                       Andre Green
11                  Birkir Bjarnason
12                      Keinan Davis
13                    Henri Lansbury
14    Jose Ignacio Peleteiro Romallo
15                        Tom Heaton
16                 Daniel Drinkwater
17                      Matt Targett
18                     Wesley Moraes
19                         Jed Steer
20                      Tyrone Mings
21                  Ezri Konsa Ngoyo
22                      Bjorn Engels
23                 Frederic Guilbert
24      Mahmoud Ahmed Ibrahim Hassan
25      Douglas Luiz Soares de Paulo
26                     Lovre Kalinic
27                 Marvelous Nakamba
28                  Indiana Vassilev
29                        Jose Reina
30                    Mbwana Samatta
31              Borja Gonzalez Tomas
32  Ricardo Domingos Barbosa Pereira
33                 Benjamin Chilwell
34                       Jonny Evans
35                   Christian Fuchs
36                    Caglar Soyuncu
37                        Wes Morgan
38                       Jamie Vardy
39                 Kelechi Iheanacho
40                 Kasper Schmeichel
41                   Eldin Jakupovic
42                        Danny Ward
43                    James Maddison
44                     Harvey Barnes
45                    Rachid Ghezzal
46                   Marc Albrighton
47                      Demarai Gray
48                     Wilfred Ndidi
49                       Matty James
50                    Daniel Amartey
51                    Nampalys Mendy
52                   Hamza Choudhury
53                       Ayoze Perez
54                      Ryan Bennett
55                      James Justin
56                   Youri Tielemans
57                         Andy King
58                      Dennis Praet
59                    Filip Benkovic

In [3]:
AA['in'] = ['' for _ in range(len(AA))]
for i in AA.index:
    if strip_accents(AA.at[i,'player']) in set([BB.at[j,0] for j in BB.index]):
        AA.at[i,'in'] = 1
    else:
        AA.at[i,'in'] = 0
AA
#Frédéric Guilbert  Douglas Luiz
#Frederic Guilbert  Douglas Luiz Soares de Paulo

                   player in
387877         Jose Reina  1
387878  Frederic Guilbert  1
387879       Bjorn Engels  1
387880       Tyrone Mings  1
387881       Matt Targett  1
387882  Marvelous Nakamba  1
387883   Ahmed Elmohamady  0
387885    Conor Hourihane  1
387884       Douglas Luiz  0
387886      Jack Grealish  1
387887     Mbwana Samatta  1
387888     Anwar El Ghazi  1
387889       Keinan Davis  1
387863  Kasper Schmeichel  1
387864    Ricardo Pereira  0
387865     Caglar Soyuncu  1
387866        Jonny Evans  1
387867       James Justin  1
387868      Wilfred Ndidi  1
387869    Marc Albrighton  1
387870       Dennis Praet  1
387871     James Maddison  1
387872      Harvey Barnes  1
387873  Kelechi Iheanacho  1
387876        Jamie Vardy  1
387874    Youri Tielemans  1
387875     Nampalys Mendy  1

In [35]:
import unicodedata
def strip_accents(s):
   return ''.join(c for c in unicodedata.normalize('NFD', s)
                  if unicodedata.category(c) != 'Mn')

def strip_accents_pdlist(a):
    b = a.copy()
    for i in range(len(a)):
        b.iat[i,0] = strip_accents(a.iat[i,0])
    return b
#Frédéric Guilbert  Douglas Luiz
#Frederic Guilbert  Douglas Luiz Soares de Paulo
str1 = 'Frédéric Guilbert'
str2 = 'Frederic Guilbert'
str3 = 'Douglas Luiz'
str4 = 'Douglas Luiz Soares de Paulo'
strip_accents(str3) in str4

True

In [20]:
str = 'h'
strr = unicodedata.normalize('NFD', str)
unicodedata.category(strr)

'Ll'

In [67]:
for i in AA.index:
    AA.at[i,'in'] = 0
    for j in BB.index:
        if AA.at[i,'player'] in BB.at[j,0]:
            AA.at[i,'in'] = 1
            break
AA

                   player in
387877         Jose Reina  1
387878  Frederic Guilbert  1
387880       Tyrone Mings  1
387879       Bjorn Engels  1
387881       Matt Targett  1
387882  Marvelous Nakamba  1
387883   Ahmed Elmohamady  0
387885    Conor Hourihane  1
387884       Douglas Luiz  1
387886      Jack Grealish  1
387887     Mbwana Samatta  1
387888     Anwar El Ghazi  1
387889       Keinan Davis  1
387863  Kasper Schmeichel  1
387864    Ricardo Pereira  0
387865     Caglar Soyuncu  1
387866        Jonny Evans  1
387867       James Justin  1
387868      Wilfred Ndidi  1
387869    Marc Albrighton  1
387871     James Maddison  1
387870       Dennis Praet  1
387872      Harvey Barnes  1
387873  Kelechi Iheanacho  1
387874    Youri Tielemans  1
387875     Nampalys Mendy  1
387876        Jamie Vardy  1

In [69]:
BB

                                   0
0                  Ahmed El Mohamady
1                      James Chester
2                        Neil Taylor
3                      Kortney Hause
4                    Jonathan Kodjia
5                       Ørjan Nyland
6                    Conor Hourihane
7                      Jack Grealish
8                     Anwar El Ghazi
9                        John McGinn
10                       Andre Green
11                  Birkir Bjarnason
12                      Keinan Davis
13                    Henri Lansbury
14    Jose Ignacio Peleteiro Romallo
15                        Tom Heaton
16                 Daniel Drinkwater
17                      Matt Targett
18                     Wesley Moraes
19                         Jed Steer
20                      Tyrone Mings
21                  Ezri Konsa Ngoyo
22                      Bjorn Engels
23                 Frederic Guilbert
24      Mahmoud Ahmed Ibrahim Hassan
25      Douglas Luiz Soares de Paulo
26                     Lovre Kalinic
27                 Marvelous Nakamba
28                  Indiana Vassilev
29                        Jose Reina
30                    Mbwana Samatta
31              Borja Gonzalez Tomas
32  Ricardo Domingos Barbosa Pereira
33                 Benjamin Chilwell
34                       Jonny Evans
35                   Christian Fuchs
36                    Caglar Soyuncu
37                        Wes Morgan
38                       Jamie Vardy
39                 Kelechi Iheanacho
40                 Kasper Schmeichel
41                   Eldin Jakupovic
42                        Danny Ward
43                    James Maddison
44                     Harvey Barnes
45                    Rachid Ghezzal
46                   Marc Albrighton
47                      Demarai Gray
48                     Wilfred Ndidi
49                       Matty James
50                    Daniel Amartey
51                    Nampalys Mendy
52                   Hamza Choudhury
53                       Ayoze Perez
54                      Ryan Bennett
55                      James Justin
56                   Youri Tielemans
57                         Andy King
58                      Dennis Praet
59                    Filip Benkovic

In [60]:
BB.at[25,0]

'Douglas Luiz Soares de Paulo'

In [66]:
Ricardo Pereira
Ricardo Domingos Barbosa Pereira

TypeError: 'str' object is not callable