In [4]:
import constti
from bs4 import BeautifulSoup
import requests
import pandas as pd
import json
import numpy as np
from pathlib import Path

team_number = 20
url1 = "https://fantasy.premierleague.com/api/bootstrap-static/"
url2 = "https://fantasy.premierleague.com/api/entry/698498/history/"
url3 = "https://fantasy.premierleague.com/api/event/6/live/"
url4 = "https://fantasy.premierleague.com/api/fixtures"

#NaNs to zeros
def toint(a):
    if np.isnan(a):
        return 0
    else: return int(a)

#If no matches played not to devide by zero
def noZ(a):
    b = a.copy()
    for i in range(len(b)):
        if b[i] == 0:
            b[i]=1
    return b


p1 = requests.get(url1)
#page1 = BeautifulSoup(p1.text)
#data1 = str(page1.p)[3:-4]
data1 = p1.text

d1 = json.loads(data1)
bigTable = pd.DataFrame(d1['elements'])
bigTable = bigTable[['team', 'element_type', 'web_name', 'goals_scored', 'assists', 'bonus', 'event_points', 'total_points', 
               'saves', 'own_goals', 'clean_sheets', 'penalties_missed', 'penalties_saved', 'yellow_cards', 'red_cards', 
               'minutes', 'bps', 'creativity', 'threat', 'ict_index', 'influence',
               'value_season', 'form', 'value_form', 'points_per_game', 
               'goals_conceded', 
               'in_dreamteam', 'dreamteam_count',
               'now_cost', 'cost_change_event', 'cost_change_event_fall',
               'cost_change_start', 'cost_change_start_fall', 'selected_by_percent',
               'transfers_in_event', 'transfers_out_event', 'transfers_in', 'transfers_out', 
               'chance_of_playing_this_round', 'chance_of_playing_next_round', 'news_added', 'news', 'status', 
               'ep_this', 'ep_next', 'first_name', 'second_name', 'team_code', 'id', 'photo', 'special', 'squad_number', 'code']]
bigTable['full_name'] = bigTable['first_name'] + ' ' + bigTable['second_name']
bigTable.to_csv(Path('in/fpltable.csv'))

p4 = requests.get(url4)
#page4 = BeautifulSoup(p4.text)
#data4 = str(page4.p)[3:-4]
d4 = json.loads(p4.text)
Fixtures = pd.DataFrame(d4)
Fixtures.to_csv(Path('in/fplfixtures.csv'))

#Figuring out ended lastGameweek   lastGW

if Fixtures.at[1,'minutes'] != 90:
    lastGW = 0
elif Fixtures.at[len(Fixtures)-1,'minutes'] == 90:
    lastGW = Fixtures.at[len(Fixtures)-1,'event']
else:
    for i in range(1,len(Fixtures)):
        if Fixtures.at[i,'minutes'] != 90:
            lastGW = Fixtures.at[i-1,'event']
            break
lastGW = int(lastGW)

Gameweeks = pd.DataFrame()
for i in range(1,2*team_number - 1):
    url = "https://fantasy.premierleague.com/api/event/" + str(i) + "/live/"
    p = requests.get(url)
    #page = BeautifulSoup(p.text)
    #data = str(page.p)[3:-4]
    d = json.loads(p.text)
    nexTour = pd.DataFrame(d['elements'])
    
    if not nexTour.empty:
        nt1 = pd.DataFrame(nexTour['stats'].tolist())
        nt1['id'] = nexTour['id']
        nt1['gameweek'] = i
        nt1.index = nt1['gameweek']*1000+nt1['id']
        Gameweeks = Gameweeks.append(nt1)
        print(i)


teams = dict(zip(pd.DataFrame(d1['teams'])['id'],pd.DataFrame(d1['teams'])['name']))
players = dict(zip(bigTable['id'],bigTable['full_name']))
teamplayers = dict(zip(bigTable['id'],bigTable['team']))

Gameweeks['team'] = [teamplayers[i] for i in Gameweeks['id']]

Gameweeks['threat'] = pd.to_numeric(Gameweeks['threat'])
Gameweeks['creativity'] = pd.to_numeric(Gameweeks['creativity'])

Gameweeks['team_a'] = [Fixtures[(Fixtures['event'] == Gameweeks.iloc[i,20]) & \
                                         ((Fixtures['team_a'] == Gameweeks.iloc[i,21])|\
                                          (Fixtures['team_h'] == Gameweeks.iloc[i,21]))]['team_a'] \
                            for i in range(len(Gameweeks))]
print(Gameweeks.columns[20])
print(Gameweeks.columns[21])
print(constti.DRDC(Gameweeks))
print(Fixtures['team_a'])
print(Gameweeks['team_a'])
Gameweeks['team_h'] = [int(Fixtures[(Fixtures['event'] == Gameweeks.iloc[i,20]) & \
                                         ((Fixtures['team_a'] == Gameweeks.iloc[i,21])|\
                                          (Fixtures['team_h'] == Gameweeks.iloc[i,21]))]['team_h']) \
                            for i in range(len(Gameweeks))]

Gameweeks['teamAgainst'] = [Gameweeks.at[i,'team_a'] if Gameweeks.at[i,'team'] == Gameweeks.at[i,'team_h']\
                            else Gameweeks.at[i,'team_h'] \
                           for i in Gameweeks.index]
Gameweeks['side'] = ['home' if Gameweeks.at[i,'team'] == Gameweeks.at[i,'team_h']\
                            else 'away' \
                           for i in Gameweeks.index]

del Gameweeks['team_a']
del Gameweeks['team_h']


Gameweeks.to_csv(Path('in/fplgameweeks.csv'))
Gameweeks

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
gameweek
team
['raws', 'columns']
0      10
1      14
2      11
3      15
4      16
       ..
375    12
376    14
377    10
378    15
379     2
Name: team_a, Length: 380, dtype: int64
1014        9    1
Name: team_a, dtype: int64
1027        7    2
Name: team_a, dtype: int64
1047        6    4
Name: team_a, dtype: int64
1048        6    4
Name: team_a, dtype: int64
1072       3    15
Name: team_a, dtype: int64
                         ...
18554     175    7
Name: team_a, dtype: int64
18559    176    20
Name: team_a, dtype: int64
18561     171    1
Name: team_a, dtype: int64
18570     171    1
Name: team_a, dtype: int64
18581     175    7
Name: team_a, dtype: int64
Name: team_a, Length: 9932, dtype: object

TypeError: cannot convert the series to <class 'int'>

In [18]:
Fixtures['team_a']

0      10
1      14
2      11
3      15
4      16
       ..
375    12
376    14
377    10
378    15
379     2
Name: team_a, Length: 380, dtype: int64

In [19]:
for i in Fixtures.index:
    print(Fixtures.at[i,'team_a'])

10
14
11
15
16
8
4
2
20
1
6
5
3
19
18
13
10
17
7
9
12
8
6
16
7
9
19
1
11
13
5
12
15
2
3
4
18
14
10
20
17
13
5
9
16
7
6
11
8
1
19
3
17
14
15
18
4
20
12
2
10
10
5
19
4
14
16
18
11
13
1
17
8
9
2
15
7
3
20
6
12
19
4
14
13
5
18
16
11
10
1
9
2
8
3
15
6
20
7
17
12
12
20
10
14
16
5
13
6
9
17
18
7
19
3
8
15
1
4
2
11
17
16
20
9
10
14
5
6
12
13
11
7
19
4
3
18
1
15
8
2
3
11
2
18
17
14
19
8
13
4
6
10
5
7
12
9
16
15
20
1
18
13
3
14
2
19
8
17
11
4
1
16
5
15
7
20
9
12
6
4
14
1
16
19
5
18
13
10
11
3
8
7
2
17
9
12
6
20
15
6
2
9
17
20
8
7
3
12
15
19
1
5
4
16
14
13
10
18
11
17
15
2
7
3
20
8
6
9
12
18
4
16
13
11
1
19
14
5
10
6
2
15
16
14
8
4
20
1
11
7
18
3
19
9
5
10
17
13
12
17
3
13
4
2
11
18
14
8
19
9
7
15
6
5
16
10
12
1
20
19
17
8
18
2
3
11
14
13
4
6
7
1
10
5
15
16
12
9
20
18
11
4
7
15
2
8
1
19
3
14
20
13
12
5
9
10
17
16
6
15
18
7
2
3
19
4
11
8
1
9
12
17
10
6
16
13
20
14
5
7
9
11
5
16
19
6
1
13
8
10
20
14
12
2
15
3
17
4
18
1
16
13
6
19
5
8
9
11
7
18
4
20
17
3
12
14
10
15
2

In [2]:
#Team tables

print(0)
#1. Creating  a table with average threat and GW threats for teams

TeamThreat = pd.DataFrame()
TeamThreat['id'] = pd.DataFrame(d1['teams'])['id']
TeamThreat['Team'] = pd.DataFrame(d1['teams'])['name']
TeamThreat['Threat av'] = np.zeros(len(TeamThreat))
TeamThreat['Matches'] = np.zeros(len(TeamThreat))

for j in range(lastGW,0,-1):
    TeamThreat['Threat GW'+str(j)] = [Gameweeks[(Gameweeks['team']==i)&(Gameweeks['gameweek']==j)]['threat'].sum() \
                                      for i in range(1,team_number+1)]
    TeamThreat['Matches'] = TeamThreat['Matches'] + (TeamThreat['Threat GW'+str(j)] != np.zeros(len(TeamThreat)))
    

TeamThreat['Threat av'] = [Gameweeks[Gameweeks['team']==i]['threat'].sum() for i in range(1,team_number+1)] \
    /noZ(TeamThreat['Matches'])
print(1)
#2. Creating  a table with average creativity and GW creativities for teams

TeamCreativity = pd.DataFrame()
TeamCreativity['id'] = pd.DataFrame(d1['teams'])['id']
TeamCreativity['Team'] = pd.DataFrame(d1['teams'])['name']
TeamCreativity['Creativity av'] = np.zeros(len(TeamCreativity))
TeamCreativity['Matches'] = np.zeros(len(TeamCreativity))

for j in range(lastGW,0,-1):
    TeamCreativity['Creativity GW'+str(j)] = [Gameweeks[(Gameweeks['team']==i)&(Gameweeks['gameweek']==j)] \
            ['creativity'].sum() for i in range(1,team_number+1)]
    TeamCreativity['Matches'] = TeamCreativity['Matches'] + \
            (TeamCreativity['Creativity GW'+str(j)] != np.zeros(len(TeamCreativity)))
    

TeamCreativity['Creativity av'] = [Gameweeks[Gameweeks['team']==i]['creativity'].sum() for i in range(1,team_number+1)] \
        /noZ(TeamCreativity['Matches'])
print(2)
#3. Creating  a table with average threat allowed by teams and GW threat allowed

TableDefence = pd.DataFrame()
TableDefence['id'] = pd.DataFrame(d1['teams'])['id']
TableDefence['Team'] = pd.DataFrame(d1['teams'])['name']
TableDefence['Threat allowed av'] = np.zeros(len(TableDefence))
TableDefence['Matches'] = np.zeros(len(TableDefence))

for j in range(lastGW,0,-1):
    TableDefence['Threat allowed GW'+str(j)] = [Gameweeks[(Gameweeks['teamAgainst']==i)&(Gameweeks['gameweek']==j)] \
            ['threat'].sum() for i in range(1,team_number+1)]
    TableDefence['Matches'] = TableDefence['Matches'] + \
            (TableDefence['Threat allowed GW'+str(j)] != np.zeros(len(TableDefence)))

TableDefence['Threat allowed av'] = [Gameweeks[Gameweeks['teamAgainst']==i]['threat'].sum() for i in range(1,team_number+1)] \
        /noZ(TableDefence['Matches'])

threatAllowedAv = TableDefence['Threat allowed av'].mean()
print(3)
#4. Creating  a table with average adjusted threat and GW threats adj for teams

TeamThreatAd = pd.DataFrame()
TeamThreatAd['id'] = pd.DataFrame(d1['teams'])['id']
TeamThreatAd['Team'] = pd.DataFrame(d1['teams'])['name']
TeamThreatAd['Threat av adj'] = np.zeros(len(TeamThreatAd))
TeamThreatAd['Matches'] = np.zeros(len(TeamThreatAd))

for j in range(lastGW,0,-1):    
    TeamThreatAd['Threat GW'+str(j)+' adj'] = [TeamThreat.at[i-1,'Threat GW'+str(j)]*threatAllowedAv/ \
                TableDefence.at[int(Gameweeks[(Gameweeks['team']==i)&(Gameweeks['gameweek']==j)]['teamAgainst'].mean()-1), \
                'Threat allowed av'] \
                                             for i in range(1,team_number+1)]
    TeamThreatAd['Matches'] = TeamThreatAd['Matches'] + (TeamThreatAd['Threat GW'+str(j)+' adj'] != np.zeros(len(TeamThreat)))
    TeamThreatAd['Threat av adj'] = TeamThreatAd['Threat av adj']  + TeamThreatAd['Threat GW'+str(j)+' adj']

TeamThreatAd['Threat av adj'] = TeamThreatAd['Threat av adj']/noZ(TeamThreatAd['Matches'])
print(4)
#5. Creating  a table with average adjusted creativity and GW creativities adj for teams

TeamCreativityAd = pd.DataFrame()
TeamCreativityAd['id'] = pd.DataFrame(d1['teams'])['id']
TeamCreativityAd['Team'] = pd.DataFrame(d1['teams'])['name']
TeamCreativityAd['Creativity av adj'] = np.zeros(len(TeamCreativityAd))
TeamCreativityAd['Matches'] = np.zeros(len(TeamCreativityAd))

for j in range(lastGW,0,-1):    
    TeamCreativityAd['Creativity GW'+str(j)+' adj'] = [TeamCreativity.at[i-1,'Creativity GW'+str(j)]*threatAllowedAv/ \
                TableDefence.at[int(Gameweeks[(Gameweeks['team']==i)&(Gameweeks['gameweek']==j)]['teamAgainst'].mean()-1), \
                'Threat allowed av'] \
                                             for i in range(1,team_number+1)]
    TeamCreativityAd['Matches'] = TeamCreativityAd['Matches'] + (TeamCreativityAd['Creativity GW'+str(j)+' adj'] != \
                                                                 np.zeros(len(TeamCreativity)))
    TeamCreativityAd['Creativity av adj'] = TeamCreativityAd['Creativity av adj']  + \
        TeamCreativityAd['Creativity GW'+str(j)+' adj']

TeamCreativityAd['Creativity av adj'] = TeamCreativityAd['Creativity av adj']/noZ(TeamThreatAd['Matches'])
print(5)
#6. Creating  a table with average threat allowed adjusted by teams and GW threat allowed adjusted

TableDefenceAd = pd.DataFrame()
TableDefenceAd['id'] = pd.DataFrame(d1['teams'])['id']
TableDefenceAd['Team'] = pd.DataFrame(d1['teams'])['name']
TableDefenceAd['Threat allowed av adj'] = np.zeros(len(TableDefenceAd))
TableDefenceAd['Matches'] = np.zeros(len(TableDefenceAd))

for j in range(lastGW,0,-1):    
    TableDefenceAd['Threat allowed GW'+str(j)+' adj'] = [TableDefence.at[i-1,'Threat allowed GW'+str(j)]*threatAllowedAv/ \
                TeamThreat.at[int(Gameweeks[(Gameweeks['team']==i)&(Gameweeks['gameweek']==j)]['teamAgainst'].mean()-1), \
                'Threat av'] \
                                             for i in range(1,team_number+1)]
    TableDefenceAd['Matches'] = TableDefenceAd['Matches'] + (TableDefenceAd['Threat allowed GW'+str(j)+' adj'] != \
                                                                 np.zeros(len(TableDefenceAd)))
    TableDefenceAd['Threat allowed av adj'] = TableDefenceAd['Threat allowed av adj']  + \
        TableDefenceAd['Threat allowed GW'+str(j)+' adj']

TableDefenceAd['Threat allowed av adj'] = TableDefenceAd['Threat allowed av adj']/noZ(TableDefenceAd['Matches'])

print(6)


#Total Team Table

TableTeams = pd.DataFrame()
TableTeams['id'] = pd.DataFrame(d1['teams'])['id']
TableTeams['Team'] = pd.DataFrame(d1['teams'])['name']

TableTeams['Threat adjusted'] = TeamThreatAd['Threat av adj']
TableTeams['Threat'] = TeamThreat['Threat av']
TableTeams['Creativity adjusted'] = TeamCreativityAd['Creativity av adj']
TableTeams['Creativity'] = TeamCreativity['Creativity av']
TableTeams['Threat allowed adjusted'] = TableDefenceAd['Threat allowed av adj']
TableTeams['Threat allowed'] = TableDefence['Threat allowed av']
print(7)



#PLayer Tables

#PlayerMatches = pd.DataFrame(list(players.keys()), columns = ['id'])
PlayerMatches = pd.DataFrame()
PlayerMatches['id'] = bigTable['id']
PlayerMatches['Team number'] = [bigTable[bigTable['id'] == i]['team'].sum() for i in players.keys()]
PlayerMatches['Team'] = [teams[PlayerMatches.at[i,'Team number']] for i in range(len(players))]
PlayerMatches['Team games'] = np.zeros(len(players))
PlayerMatches['Played'] = np.zeros(len(players))

for j in range(lastGW,0,-1):
    PlayerMatches['Played'] = PlayerMatches['Played'] + ([Gameweeks[(Gameweeks['id']==PlayerMatches.iat[i,0])&\
                                    (Gameweeks['gameweek']==j)]['minutes'].sum() \
                                    for i in range(len(PlayerMatches))] != np.zeros(len(PlayerMatches)))

PlayerMatches['Team games'] = PlayerMatches['Team games'] + [len(Gameweeks[Gameweeks['id']==PlayerMatches.iat[i,0]])\
                                    for i in range(len(PlayerMatches))]
print(8)
#1 Players Threat

PlayerThreat = pd.DataFrame()
PlayerThreat['id'] = bigTable['id']
PlayerThreat['Name'] = bigTable['full_name']
PlayerThreat['Team'] = PlayerMatches['Team']
PlayerThreat['Threat per fixture'] = np.zeros(len(players))
PlayerThreat['Threat per game'] = np.zeros(len(players))

for j in range(lastGW,0,-1):
    PlayerThreat['Threat GW'+str(j)] = [Gameweeks[(Gameweeks['id']==PlayerThreat.iat[i,0])&(Gameweeks['gameweek']==j)] \
                                    ['threat'].sum() \
                                    for i in range(len(players))]
    PlayerThreat['Threat per game'] = PlayerThreat['Threat per game'] + PlayerThreat['Threat GW'+str(j)]

PlayerThreat['Threat per fixture'] = PlayerThreat['Threat per game']/noZ(PlayerMatches['Team games'])
PlayerThreat['Threat per game'] = PlayerThreat['Threat per game']/noZ(PlayerMatches['Played'])
print(9)
#2 Players Creativity

PlayerCreativity = pd.DataFrame()
PlayerCreativity['id'] = bigTable['id']
PlayerCreativity['Name'] = bigTable['full_name']
PlayerCreativity['Team'] = PlayerMatches['Team']
PlayerCreativity['Creativity per fixture'] = np.zeros(len(players))
PlayerCreativity['Creativity per game'] = np.zeros(len(players))

for j in range(lastGW,0,-1):
    PlayerCreativity['Creativity GW'+str(j)] = [Gameweeks[(Gameweeks['id']==PlayerThreat.iat[i,0])&\
                    (Gameweeks['gameweek']==j)]['creativity'].sum() for i in range(len(players))]
    PlayerCreativity['Creativity per game'] = PlayerCreativity['Creativity per game']\
        + PlayerCreativity['Creativity GW'+str(j)]

PlayerCreativity['Creativity per fixture'] = PlayerCreativity['Creativity per game']/noZ(PlayerMatches['Team games'])
PlayerCreativity['Creativity per game'] = PlayerCreativity['Creativity per game']/noZ(PlayerMatches['Played'])
print(10)
#3 Players Threat Adjusted

PlayerThreatAd = pd.DataFrame()
PlayerThreatAd['id'] = bigTable['id']
PlayerThreatAd['Name'] = bigTable['full_name']
PlayerThreatAd['Team number'] = PlayerMatches['Team number']
PlayerThreatAd['Team'] = PlayerMatches['Team']
PlayerThreatAd['Threat per fixture adj'] = np.zeros(len(players))
PlayerThreatAd['Threat per game adj'] = np.zeros(len(players))
for j in range(lastGW,0,-1):
        
    PlayerThreatAd['Threat GW'+str(j) + 'adj'] = [PlayerThreat.at[i,'Threat GW'+str(j)]*threatAllowedAv/ \
            TableDefence.at[toint(Gameweeks[(Gameweeks['team']==PlayerThreatAd.at[i,'Team number'])&\
            (Gameweeks['gameweek']==j)]['teamAgainst'].mean()-1), \
            'Threat allowed av']  for i in range(len(players))]                     
    
    PlayerThreatAd['Threat per game adj'] = PlayerThreatAd['Threat per game adj'] +\
            PlayerThreatAd['Threat GW'+str(j) + 'adj']
PlayerThreatAd['Threat per fixture adj'] = PlayerThreatAd['Threat per game adj']/noZ(PlayerMatches['Team games'])
PlayerThreatAd['Threat per game adj'] = PlayerThreatAd['Threat per game adj']/noZ(PlayerMatches['Played'])
print(11)

#4 PLayers Creativity Adjusted

PlayerCreativityAd = pd.DataFrame()
PlayerCreativityAd['id'] = bigTable['id']
PlayerCreativityAd['Name'] = bigTable['full_name']
PlayerCreativityAd['Team number'] = PlayerMatches['Team number']
PlayerCreativityAd['Team'] = PlayerMatches['Team']
PlayerCreativityAd['Creativity per fixture adj'] = np.zeros(len(players))
PlayerCreativityAd['Creativity per game adj'] = np.zeros(len(players))

for j in range(lastGW,0,-1):
        
    PlayerCreativityAd['Creativity GW'+str(j) + 'adj'] = [PlayerCreativity.at[i,'Creativity GW'+str(j)]*threatAllowedAv/ \
            TableDefence.at[toint(Gameweeks[(Gameweeks['team']==PlayerCreativityAd.at[i,'Team number'])&\
                                          (Gameweeks['gameweek']==j)]['teamAgainst'].mean()-1), \
            'Threat allowed av']  for i in range(len(players))]                     
    
    PlayerCreativityAd['Creativity per game adj'] = PlayerCreativityAd['Creativity per game adj'] +\
            PlayerCreativityAd['Creativity GW'+str(j) + 'adj']

PlayerCreativityAd['Creativity per fixture adj'] = PlayerCreativityAd['Creativity per game adj']/\
            noZ(PlayerMatches['Team games'])
PlayerCreativityAd['Creativity per game adj'] = PlayerCreativityAd['Creativity per game adj']/\
            noZ(PlayerMatches['Played'])
print(12)


#Tables2Files

del TeamThreat['id']
TeamThreat.sort_values('Threat av', ascending = False, inplace = True)
TeamThreat.index = np.arange(1, len(TeamThreat) + 1)
TeamThreat.to_csv(Path('out/TeamThreat.csv'))

del TeamCreativity['id']
TeamCreativity.sort_values('Creativity av', ascending = False, inplace = True)
TeamCreativity.index = np.arange(1, len(TeamCreativity) + 1)
TeamCreativity.to_csv(Path('out/TeamCreativity.csv'))

del TableDefence['id']
TableDefence.sort_values('Threat allowed av', ascending = True, inplace = True)
TableDefence.index = np.arange(1, len(TableDefence) + 1)
TableDefence.to_csv(Path('out/TableDefence.csv'))

del TeamThreatAd['id']
TeamThreatAd.sort_values('Threat av adj', ascending = False, inplace = True)
TeamThreatAd.index = np.arange(1, len(TeamThreatAd) + 1)
TeamThreatAd.to_csv(Path('out/TeamThreatAd.csv'))

del TeamCreativityAd['id']
TeamCreativityAd.sort_values('Creativity av adj', ascending = False, inplace = True)
TeamCreativityAd.index = np.arange(1, len(TeamCreativityAd) + 1)
TeamCreativityAd.to_csv(Path('out/TeamCreativityAd.csv'))

del TableDefenceAd['id']
TableDefenceAd.sort_values('Threat allowed av adj', ascending = True, inplace = True)
TableDefenceAd.index = np.arange(1, len(TableDefenceAd) + 1)
TableDefenceAd.to_csv(Path('out/TableDefenceAd.csv'))

del TableTeams['id']
TableTeams.sort_values('Threat adjusted', ascending = False, inplace = True)
TableTeams.index = np.arange(1, len(TableTeams) + 1)
TableTeams.to_csv(Path('out/TableTeams.csv'))

del PlayerThreat['id']
PlayerThreat.sort_values('Threat per fixture', ascending = False, inplace = True)
PlayerThreat.index = np.arange(1, len(players) + 1)
PlayerThreat.to_csv(Path('out/PlayerThreat.csv'))

del PlayerCreativity['id']
PlayerCreativity.sort_values('Creativity per fixture', ascending = False, inplace = True)
PlayerCreativity.index = np.arange(1, len(players) + 1)
PlayerCreativity.to_csv(Path('out/PlayerCreativity.csv'))

del PlayerThreatAd['id']
del PlayerThreatAd['Team number']
PlayerThreatAd.sort_values('Threat per fixture adj', ascending = False, inplace = True)
PlayerThreatAd.index = np.arange(1, len(players) + 1)
PlayerThreatAd.to_csv(Path('out/PlayerThreatAd.csv'))

del PlayerCreativityAd['id']
del PlayerCreativityAd['Team number']
PlayerCreativityAd.sort_values('Creativity per fixture adj', ascending = False, inplace = True)
PlayerCreativityAd.index = np.arange(1, len(players) + 1)
PlayerCreativityAd.to_csv(Path('out/PlayerCreativityAd.csv'))

PlayerThreatAd

0
1
2
3
4
5
6
7
8
9
10
11
12

,Name,Team,Threat per fixture adj,Threat per game adj,Threat GW17adj,Threat GW16adj,Threat GW15adj,Threat GW14adj,Threat GW13adj,Threat GW12adj,...,Threat GW10adj,Threat GW9adj,Threat GW8adj,Threat GW7adj,Threat GW6adj,Threat GW5adj,Threat GW4adj,Threat GW3adj,Threat GW2adj,Threat GW1adj
1,Raheem Sterling,Man City,57.508805,61.103106,43.319704,86.871719,83.574551,77.358371,7.813327,97.343653,...,55.738351,33.111641,53.714921,87.881183,0.000000,69.670628,9.712724,54.052340,108.566667,68.753154
2,Mohamed Salah,Liverpool,53.415955,64.862231,122.628012,75.673277,0.000000,29.138171,0.000000,75.403215,...,82.759836,0.000000,135.135949,85.548670,46.879964,60.722162,59.843506,56.910200,25.322520,28.601626
3,Roberto Firmino,Liverpool,47.974809,47.974809,37.278916,47.399745,2.312663,34.965805,56.105836,45.556109,...,100.557650,54.605080,58.942276,12.580687,75.528832,24.122503,74.288490,84.091191,27.942091,48.402752
4,Teemu Pukki,Norwich,44.848215,44.848215,69.005591,75.484120,31.434853,23.783367,27.751953,49.051205,...,19.856393,21.620936,47.008247,30.352338,45.398522,51.839711,22.298320,49.484407,94.826390,64.372416
5,Raúl Jiménez,Wolves,43.804775,43.804775,31.146175,11.655268,64.107670,129.581073,72.346979,27.533402,...,10.813536,20.083378,47.127010,12.753313,24.833731,16.928876,62.441893,44.366737,27.302540,43.128494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,Archie Mair,Norwich,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
573,Akin Famewo,Norwich,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
574,Davide Zappacosta,Chelsea,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
575,Kieron Freeman,Sheffield Utd,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
576,Luke Cundle,Wolves,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [3]:
a = [1, 2, 2]
table = pd.DataFrame([1,2,3], index = [1,2,2], columns = ['123'])
table['qwe'] = [1,1,1]
table.columns = [1,1]
def Doubles(a):
    ans = []
    for i in range(1,len(a)):
        if a[i] in a[:i]:
            ans.append(a[i])
    return ans
def DRDC(table):
    a = ['raws']
    a.extend(Doubles(table.index))
    a.append('columns')
    a.extend(Doubles(table.columns))
    return a
range(1,len(a))
Doubles(a)
DRDC(table)

['raws', 2, 'columns', 1]

In [70]:
Gameweeks.columns

Index(['minutes', 'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'total_points', 'in_dreamteam', 'id', 'gameweek',
       'team', 'team_a'],
      dtype='object')

In [65]:
for i in range(len(a)):
    print(i)

0
1
2
3

In [53]:
2 in set(a[:2])

True

In [64]:
len(a)

4

In [94]:
Gameweeks

,minutes,goals_scored,assists,clean_sheets,goals_conceded,own_goals,penalties_saved,penalties_missed,yellow_cards,red_cards,...,influence,creativity,threat,ict_index,total_points,in_dreamteam,id,gameweek,team,team_a
1014,90,0,0,1,0,0,0,0,0,0,...,18.0,0.0,0.0,1.8,7,False,14,1,1,"9 1 Name: team_a, dtype: int64"
1027,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0,False,27,1,2,"7 2 Name: team_a, dtype: int64"
1047,90,0,0,1,0,0,0,0,0,0,...,25.4,0.0,0.0,2.5,9,False,47,1,4,"6 4 Name: team_a, dtype: int64"
1048,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0,False,48,1,4,"6 4 Name: team_a, dtype: int64"
1072,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0,False,72,1,3,"3 15 Name: team_a, dtype: int64"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18554,13,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1,False,554,18,13,"175 7 Name: team_a, dtype: int64"
18559,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0,False,559,18,20,"176 20 Name: team_a, dtype: int64"
18561,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0,False,561,18,8,"171 1 Name: team_a, dtype: int64"
18570,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0,False,570,18,8,"171 1 Name: team_a, dtype: int64"
18581,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0,False,581,18,7,"175 7 Name: team_a, dtype: int64"

In [5]:
import constti

In [6]:
constti.DRDC(Fixtures)

['raws', 'columns']